*{
    font-family: hero;
}
body{
    display:flex;
    flex-direction: column;
    margin:0;
}

.top{
    background-color: #1f2937;
    color: white;
    display:flex;
    flex-direction:column;
  
    padding-top: 20px;
    padding-right:100px;
    padding-left:100px;
    margin-bottom:30px;
}

.header ul,a{
    color:white;
    list-style-type:none;
    text-decoration:none;
    margin:0;
    display:flex;
    gap:15px;
}


.header{
    display:flex;
    justify-content:space-between;
    margin-bottom:150px;
}

.intro-title{
    font-size:48px;
    font-weight:bold;
    flex-wrap:wrap;
}

.intro-left{
    display:flex;
    flex-direction:column;
    width:400px;
}

.sign-up{
    font-family:Roboto,sans-serif;
    border:none;
    padding: 8px;
    border-radius: 8px;
    background: #3882f6;
    max-width:125px;
}

.intro{
    display:flex;
    justify-content: space-between;
    flex-basis:1;
}

.subtext{
    font-size:18px;
    color: #e5e7eb;
    flex-wrap:wrap;
}




.mid{
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align:center;
   
}

.mid ul{
    display:flex;
    list-style-type:none;
}
.list-picture{
    border-radius:25px;
    border-style: solid;
    border-color:#3882f6;
    font-size:18px;
    color:#e5e7eb;
}


#info-header{
    color:#1f2937;
    font-size:36px;
    font-weight:800px;
}

.quote-section{
    display:flex;
    background-color:#e5e7eb;
    padding:100px;
    flex-direction:column;
    margin-top:60px;
}

.quote{
    font-size:36px;
    font-style:italic;
    color:#1f2937;
}

.quote-author{
    align-self:flex-end;
    font-weight:bold;
    font-size:36px;
}

.bottom{
    display:flex;
    background-color:#3882f6;
    align-self:center;
    justify-content: flex-end;
    margin:10px;
}

.bottom-text{
    display:flex;
    flex-direction:column;
    border: #3882f6;
}

.bottom button{
    border:white;
    border-style: solid;
}


.footer{
    display:flex;
    background-color: #1f2937;
    color:#e5e7eb;
    font-size: 18px;
    justify-content: center;
    padding:30px;

}